*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
}
.container{
    border: .3rem solid black;
    display: flex;
    align-items: center;
    height: 100vh;
}
.box{
    width: 10rem;
    height: 10rem;
}
.box1{
    background-color: slategray;
}
.box2{
    background-color: lightblue;
}
.box3{
    background-color: lightcoral;
}
.box4{
    background-color: lightgreen;
}
.box5{
    background-color: lightgray;
}
.box6{
    background-color: lightseagreen;
}